#block-forms.block
  .content

    %h2 Create a new ticket

    .inner
      .flash
        = error_messages_for :jabber

      - form_for(@jabber, :html => { :class => 'form' }) do |f|

        .group
          %label.label{:for => 'jabber[to]'} To :
          = f.text_field :to, :class => 'text_field'

        .group
          %label.label{:for => 'jabber[text]'} Text :
          = f.text_area :text, :cols => 40, :rows => 15, :class => 'text_area'

        %div{:class => 'group navform'}
          = f.submit :send, :class => 'button'
          or
          = link_to 'Cancel', jabbers_url

